* {
    border-radius: 10px;
    padding: 10px;
}

header {
    width: 100%;
    position: fixed;
    margin: 0 auto;
    padding: 10px 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    border-radius: 0px;
    background-color: #FFD24C;
}

body {
    background-color: #FFE69A;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


main {
    width: 55%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 6rem 5rem;
    font-size: 120%;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #92B4EC;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #FFD24C
}

button:hover {
    border: 1px solid #92B4EC;
}

#logo button {
    font-size: 150%;
    border: none;
}

#logo button:hover {
    border: 1px solid #92B4EC
}

.hidden {
    display: none;
}



#options {
    display: flex;
    flex-direction: column;
}

.answerChoice {
    width: 200px;
}

.valid {
    background-color: green;
}

.invalid {
    background-color: red;
}

th {
    border-bottom: 1px solid black;
    border-radius: 0px;
}